.parallax-banner {
    background: url(../../img/8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    background-repeat: no-repeat;
    text-align: center;
    h5 {
        letter-spacing: 3px;
        font-size: 16px;
        color: #d6b161;
        font-weight: 400;
        line-height: 1.5;
    }
    h2 {
        margin-bottom: 0;
        letter-spacing: 2px;
        font-weight: normal;
        color: #fff;
        margin: 0 0 60px 0;
        line-height: 1.5;
        font-size: 36px;
    }
}
// RESPONSIVE
@include Responsive(XS) {
    .parallax-banner {
        h2 {
            font-size: 2.6rem;
        }
    }
}
@include Responsive(IP8) {
    .parallax-banner {
        h2 {
            font-size: 2.6rem;
        }
    }
}
@include Responsive(IPAD) {
    .parallax-banner {
        h2 {
            font-size: 2.6rem;
        }
    }
}
