.portfolio {
    text-align: center;
    .portfolio-items {
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 0 15px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #a9a8a8;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .portfolio-products {
            margin-top: 50px;
            height: 569.612px;
            display: flex;
            flex-wrap: wrap;
            .portfolio-item {
                width: 25%;
                img {
                    height: 289px;
                    width: fit-content;
                }
            }
        }
    }
}
